:host{
    display:block;
}
:host[hidden]{
    display:none;
}

slot{
    display: none;
}


.editor, header{
    background-color: black;
    color: white;
}

.expander{
    width: fit-content;
    height: fit-content;
    padding-left: 0px;
    padding-right: 0px;
    width:25px;
}
.copyBtn{
    width: fit-content;
    height: fit-content;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
}

:host{
    --obj-key-bg: #FFD4B8;
    --obj-key-color: #000000;
    --str-key-bg: #B8FFBB;
    --str-key-color: #000000;
    --num-key-bg: #BCD3DC;
    --num-key-color: #000000;
    --array-key-bg: #AAC7E4;
    --array-key-color: #000000;
    --obj-even-level-editor-bg: #F1E090;
    --obj-odd-level-editor-bg: #FFEFCC;
    --array-even-level-editor-bg: #A9DBDD;
    --array-odd-level-editor-bg: #D9DBDD;
    --obj-adder-bg: #C15000;
    --string-adder-bg: #007408;
    --bool-adder-bg: #516600;
    --num-adder-bg:#497B8D;
    --arr-adder-bg: #2d5b89;
    --selector-bg: #CD138F;
}
.editor[data-type="object"][data-even-level="true"]{
    background-color: var(--obj-even-level-editor-bg);
}
.editor[data-type="object"][data-even-level="false"]{
    background-color: var(--obj-odd-level-editor-bg);
}
.editor[data-type="array"][data-even-level="true"]{
    background-color: var(--array-even-level-editor-bg);
    
}
.editor[data-type="array"][data-even-level="false"]{
    background-color: var(--array-odd-level-editor-bg);
}
.editor[data-type="object"]>.field>.text-editing>.key{
    background-color: var(--obj-key-bg);
    color: var(--obj-key-color);
}
.editor[data-type="number"]>.field>.text-editing>.key{
    background-color: var(--num-key-bg);
    color: var(--num-key-color);
}
.editor[data-type="string"]>.field>.text-editing.key{
    background-color: var(--str-key-bg);
    color: var(--str-key-color);
}
.editor[data-type="array"]>.field>.text-editing>.key{
    background-color: var(--array-key-bg);
    /* color: color-contrast(var(--array-key-bg) vs white, black); */
    color: var(--array-key-color);
}
/* .editor{
    transition-timing-function: ease;
} */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.editor[is-observant],json-viewer {
    animation-name: fadeIn;
}

.object.adder{
    background-color: var(--obj-adder-bg);
}
.string.adder{
    background-color:var(--string-adder-bg);
}
.bool.adder{
    background-color: var(--bool-adder-bg);
}
.number.adder{
    background-color: var(--num-adder-bg);
}
.arr.adder{
    background-color: var(--arr-adder-bg);
}
.adder{
    color: white;
    text-shadow:1px 1px 1px black;
    border-radius: 5px;
    padding: 2;
    border: none;
}
.selector{
    color: white;
    text-shadow:1px 1px 1px black;
    border-radius: 5px;
    padding: 2;
    border: none;
    margin-left: 12px;
    background-color: var(--selector-bg);   
}

.download{
    color: rgb(29, 155, 240);
    margin-left: 11px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    background-color: black;
}

header h1{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: small;
}
.tree-view-selector.inactive{
    display:none;
}
.text-view-selector.inactive{
    display:none;
}
.remove.editKey::after{
    content: "Remove item by deleting the property name.";
}
xtal-side-nav::part(opener), xtal-side-nav::part(close-btn){
    font-size:12px;
}
xtal-side-nav::part(side-nav){
    left: inherit;
    top:initial;
    height: 40px;
    padding-top:20px;
    justify-content: space-evenly;
    /* top: inherit; */
}
.field{
    display:flex;
    flex-direction:row;
    line-height: 20px;
    align-items: center;
}
#copy{
    background-image: url(https://cdn.jsdelivr.net/npm/xtal-editor/src/copy.svg);
    
}
#expand-all{
    background-image: url(https://cdn.jsdelivr.net/npm/xtal-editor/src/arrows-expand.svg);
    width: 20px;
}
.action{
    background-repeat:no-repeat;
    background-position-y:center;
    height: 22px;
}
xtal-side-nav{
    display: inline;
    --drawer-width:140px;
}

#collapse-all{
    background-image: url(https://cdn.jsdelivr.net/npm/xtal-editor/src/arrows-collapse.svg);
    width: 20px;
}
@media only screen and (max-width: 1000px) {
    [data-ro="false"] .field{
        flex-direction: column;
    }
    [data-ro="false"] .child-inserters{
        justify-content: flex-end;
        width: 100%;
    }
    [data-ro="false"] .text-editing{
        width: 100%;
    }
}
@media only screen and (min-width: 1001px){
    [data-ro="false"] .child-inserters{
        justify-content: center;
    }
    [data-ro="false"] .field{
        width: 100%;
        justify-content: space-evenly;
    }
    [data-ro="false"] .text-editing{
        flex-grow: 1;
    }
}
@media only screen and (max-width: 500px) {
    [data-ro="true"] .field{
        flex-direction: column;
    }
    [data-ro="true"] .child-inserters{
        justify-content: flex-end;
        width: 100%;
    }
    [data-ro="true"] .text-editing{
        width: 100%;
    }
}
@media only screen and (min-width: 501px){
    [data-ro="true"] .child-inserters{
        justify-content: center;
    }
    [data-ro="true"] .field{
        width: 100%;
        justify-content: space-evenly;
    }
    [data-ro="true"] .text-editing{
        flex-grow: 1;
    }
}
.text-editing{
    display: flex;
    flex-direction: row;
    padding-top:1px;
    padding-bottom:1px;
}
.child-inserters{
    display: flex;
}
.child-editors{
    margin-left: 15px;
}

[data-type="object"] button.nonPrimitive{
    display: inline;
}

[data-type="array"] button.nonPrimitive{
    display: inline;
}

[data-type="string"] .nonPrimitive{
    display: none;
}
[data-type="number"] .nonPrimitive{
    display: none;
}
[data-type="boolean"] .nonPrimitive{
    display: none;
}
[data-type="string"] .key{
    background-color: var(--str-key-bg);
    color: var(--str-key-color);
}
[data-type="boolean"] .key{
    background-color: #B1C639;
}

.value{
    background-color: #ECF3C3;
    width: 100%;
    flex-grow:5;
}
input.key {
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 2px;
}
input {
    border: none;
    padding: 3px;
}
template[be-intersectional], template[is-intersectional]{
    display: block;
    height: 100px;
}
.search-label{
    position:absolute;
    right:0px;
    margin-top:1px;
    margin-bottom:1px;
}
