/* 0.0.122 */
:host{
    display:block;
}
:host[hidden]{
    display:none;
}

slot{
    display: none;
}


header{
    color-scheme: dark;
    color: white;
    background: #121212;
}


.copyBtn{
    width: fit-content;
    height: fit-content;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
}

:host{
    --selector-bg: #CD138F;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.editor[is-observant],json-viewer {
    animation-name: fadeIn;
}


.selector{
    color: white;
    text-shadow:1px 1px 1px black;
    border-radius: 5px;
    padding: 2;
    border: none;
    margin-left: 12px;
    background-color: var(--selector-bg);   
}

.download{
    color: rgb(29, 155, 240);
    margin-left: 11px;
    
}

header{
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px black; */
    /* background-color: black; */
}

xtal-side-nav{
    flex:1;
}

header h1{
    /* display: inline-block; */
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: small;
    flex:1;
}

.search-label{
    /* position:absolute; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
    right:0px; 
    margin-top:1px;
    margin-bottom:1px;
    margin-right:10px;
}

.tree-view-selector.inactive{
    display:none;
}
.text-view-selector.inactive{
    display:none;
}
.remove.editKey::after{
    content: "Remove item by deleting the property name.";
}
xtal-side-nav::part(opener), xtal-side-nav::part(close-btn){
    font-size:12px;
}
xtal-side-nav::part(side-nav){
    left: inherit;
    top:initial;
    height: 40px;
    padding-top:20px;
    justify-content: space-evenly;
    /* top: inherit; */
}

#copy{
    background-image: url(https://cdn.jsdelivr.net/npm/xtal-editor/src/copy.svg);
    
}
#expand-all{
    background-image: url(https://cdn.jsdelivr.net/npm/xtal-editor/src/arrows-expand.svg);
    width: 20px;
}
.action{
    background-repeat:no-repeat;
    background-position-y:center;
    height: 22px;
}
xtal-side-nav{
    display: inline;
    --drawer-width:140px;
}

#collapse-all{
    background-image: url(https://cdn.jsdelivr.net/npm/xtal-editor/src/arrows-collapse.svg);
    width: 20px;
}
@media only screen and (max-width: 1000px) {
    [data-ro="false"] .field{
        flex-direction: column;
    }
    [data-ro="false"] .child-inserters{
        justify-content: flex-end;
        width: 100%;
    }
    [data-ro="false"] .text-editing{
        width: 100%;
    }
}
@media only screen and (min-width: 1001px){
    [data-ro="false"] .child-inserters{
        justify-content: center;
    }
    [data-ro="false"] .field{
        width: 100%;
        justify-content: space-evenly;
    }
    [data-ro="false"] .text-editing{
        flex-grow: 1;
    }
}
@media only screen and (max-width: 500px) {
    [data-ro="true"] .field{
        flex-direction: column;
    }
    [data-ro="true"] .child-inserters{
        justify-content: flex-end;
        width: 100%;
    }
    [data-ro="true"] .text-editing{
        width: 100%;
    }
}
@media only screen and (min-width: 501px){
    [data-ro="true"] .child-inserters{
        justify-content: center;
    }
    [data-ro="true"] .field{
        width: 100%;
        justify-content: space-evenly;
    }
    [data-ro="true"] .text-editing{
        flex-grow: 1;
    }
}
.text-editing{
    display: flex;
    flex-direction: row;
    padding-top:1px;
    padding-bottom:1px;
}
.child-inserters{
    display: flex;
}
.child-editors{
    margin-left: 15px;
}

[data-type="object"] button.nonPrimitive{
    display: inline;
}

[data-type="array"] button.nonPrimitive{
    display: inline;
}

[data-type="string"] .nonPrimitive{
    display: none;
}
[data-type="number"] .nonPrimitive{
    display: none;
}
[data-type="boolean"] .nonPrimitive{
    display: none;
}
[data-type="string"] .key{
    background-color: var(--str-key-bg);
    color: var(--str-key-color);
}
[data-type="boolean"] .key{
    background-color: #B1C639;
}

.value{
    background-color: #ECF3C3;
    width: 100%;
    flex-grow:5;
}
input.key {
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 2px;
}
input {
    border: none;
    padding: 3px;
}
template[be-lazy], template[is-lazy]{
    display: block;
    height: 24px;
}

